<a href="https://colab.research.google.com/github/BrunoLuisPereira/clone-tabnews/blob/main/Introdu%C3%A7%C3%A3oaoPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introdução a biblioteca Pandas

Etapa 1: Com Dados digitados

In [1]:
import pandas as pd

### Criando Series
Uma Series é um array unidimensional com rotulos (indices)

In [3]:
s = pd.Series([10, 20, 30, 40, 50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Acessando os Valores e Indices

In [4]:
print (s.values)

[10 20 30 40 50]

In [ ]:
Acessando os indices de sereies

In [5]:
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [ ]:
Criando uma Series com indices Personalizados

In [7]:
s2 = pd.Series([1, 2, 3, 4, 5], index= ['a','b','c', 'd', 'e'])
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
s2['a']=100
s2

a    100
b      2
c      3
d      4
e      5
dtype: int64

In [11]:
s2[s2>4]

a    100
e      5
dtype: int64

DataFrame
Uma estrutura de dados tabular bidimensional com eixos rotulados

In [ ]:
# Criando um dataframe a partir de um dicionario

In [13]:
dados = {
    'Cidades de SC': ['Joinville', 'Florianopolis', 'Blumenau', 'São Jose', 'Itajai'],
    'Populacao': [600100, 500076, 380597, 270299, 280000],
    'IDH': [0.809, 0.849, 0.800, 0.795, 0.802],
    'Ano de emancipação': [1851, 1726, 1880, 1833, 1858]
}

print("dados:\n", dados)

dados:
 {'Cidades de SC': ['Joinville', 'Florianopolis', 'Blumenau', 'São Jose', 'Itajai'], 'Populacao': [600100, 500076, 380597, 270299, 280000], 'IDH': [0.809, 0.849, 0.8, 0.795, 0.802], 'Ano de emancipação': [1851, 1726, 1880, 1833, 1858]}

In [15]:
df_sc = pd.DataFrame(dados)
print(df_sc)

   Cidades de SC  Populacao    IDH  Ano de emancipação
0      Joinville     600100  0.809                1851
1  Florianopolis     500076  0.849                1726
2       Blumenau     380597  0.800                1880
3       São Jose     270299  0.795                1833
4         Itajai     280000  0.802                1858

In [17]:
# Visualizando as primera linhas
print(df_sc.head(3))

   Cidades de SC  Populacao    IDH  Ano de emancipação
0      Joinville     600100  0.809                1851
1  Florianopolis     500076  0.849                1726
2       Blumenau     380597  0.800                1880

In [18]:
print(df_sc.tail)

<bound method NDFrame.tail of    Cidades de SC  Populacao    IDH  Ano de emancipação
0      Joinville     600100  0.809                1851
1  Florianopolis     500076  0.849                1726
2       Blumenau     380597  0.800                1880
3       São Jose     270299  0.795                1833
4         Itajai     280000  0.802                1858>

#obter uma amostra aleatoria

In [27]:
print (df_sc.sample(2))

   Cidades de SC  Populacao    IDH  Ano de emancipação
3       São Jose     270299  0.795                1833
1  Florianopolis     500076  0.849                1726

#acessando colunas ou mudando colunas de posição

In [32]:
print(df_sc[['Cidades de SC', 'Populacao']])

   Cidades de SC  Populacao
0      Joinville     600100
1  Florianopolis     500076
2       Blumenau     380597
3       São Jose     270299
4         Itajai     280000